= content_for :header do
	%h1 Next level maneuvers

%ul
	%li A/B testing
	%li Access groups (e.g. pre-release)
	%li Regions (geo-ip)
	%li Separate access control from features, making it easier to move features
