= content_for :header do
	%h1 That's all folks

%ul
	%li Twitter: @alexdixonwins
	%li Github: alexdixon (not much here)
	%li
		This presentation:
	%li
		Rollout:
		= link_to 'https://github.com/FetLife/rollout', 'https://github.com/FetLife/rollout'
	%li
		Degrade: 
		= link_to 'https://github.com/jamesgolick/degrade', 'https://github.com/jamesgolick/degrade'
