= content_for :header do
	%h1 Feature flow

%ol
	%li Create the feature
	%li Enable functionality at the highest level possible
	%li Work on the feature
	%li Deploy
	%li Turn it on
	%li Deploy
	%li If things aren't working, turn it off, and deploy again
	%li Later, clean up the feature code (use grep!!!)
