= content_for :header do
	%h1 Javascript

#js-example-slide
	%h2.hidden This should fade in with the js-example feature on
	%ul
		%li Pretty easy to expose similar functionality in javascript
		%li Need to be careful of a few things with turbolinks
		%li Just remember that you're exposing more
		%li I'm supposed to show you some code now.
