= content_for :header do
	%h1 Rollout

%ul 
	%li A gem for managing and rolling out features
	%li	Uses Redis (optional, I think)
	%li Gives user/group control over features, along with more runtime control
	%li Can also be used with the degrade gem
	%li Railscast PRO episode 315

